alabaster==0.7.12
alembic==1.1.0
apipkg==1.5
asn1crypto==0.24.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
Automat==0.7.0
Babel==2.7.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
constantly==15.1.0
coverage==4.5.4
cryptography==2.7
cssselect==1.1.0
DateTime==4.3
demjson==2.2.4
docutils==0.15.2
execnet==1.7.1
Flask==1.1.1
Flask-SQLAlchemy==2.4.0
freezegun==0.3.12
hyperlink==19.0.0
idna==2.8
imagesize==1.1.0
importlib-metadata==0.19
incremental==17.5.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.4.1
lxml==4.4.1
Mako==1.1.0
MarkupSafe==1.1.1
mccabe==0.6.1
mirakuru==2.1.0
more-itertools==7.2.0
packaging==19.1
parsel==1.5.2
pg8000==1.13.2
pkg-resources==0.0.0
pluggy==0.12.0
port-for==0.4
psutil==5.6.3
psycopg2==2.8.3
py==1.8.0
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.4.2
PyHamcrest==1.9.0
pylint==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.4.2
pytest==5.2.1
pytest-flask==0.15.0
pytest-flask-sqlalchemy==1.0.2
pytest-forked==1.0.2
pytest-mock==1.10.4
pytest-pgsql==1.1.1
pytest-postgresql==2.0.0
pytest-xdist==1.29.0
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.2
queuelib==1.5.0
requests==2.22.0
scramp==1.1.0
Scrapy==1.7.3
scrapyrt==0.10
service-identity==18.1.0
six==1.12.0
snowballstemmer==1.9.1
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
SQLAlchemy==1.3.7
testing.common.database==2.0.3
testing.postgresql==1.3.0
Twisted==18.9.0
typed-ast==1.4.0
urllib3==1.25.3
w3lib==1.21.0
wcwidth==0.1.7
Werkzeug==0.15.5
wrapt==1.11.2
zipp==0.5.2
zope.interface==4.6.0
