packages:
  python:
    aws-psycopg2: []
    Flask: []
groups:
  postgres:
    gid: "101"
users:
  postgres:
    uid: "997"
    homeDir: "/tmp/postgres"
container_commands:
  01_postgres_schema:
    command: su -c "psql -c 'CREATE ROLE choys SUPERUSER LOGIN CREATEDB;' -h $DATABASE_HOST" postgres
  02_postgres_schema:
    command: su -c "psql -c 'CREATE DATABASE choys;' -h $DATABASE_HOST" postgres
  03_postgres_schema:
    command: su -c "psql -c 'create database locations;' -U choys -h $DATABASE_HOST"
  04_postgres_schema:
    command: su -c "psql -U choys -h $DATABASE_HOST locations < schema.sql"

