.button {
    height: 100%;
    white-space: normal;
}

#compare_table {
    display: none;
    margin: auto;
}

.notification {
    padding: 1.25rem 1.5rem;
}

div.notification.column.has-text-centered {
    margin: 0.5rem;
}

table#compare_table, table#compare_table > tbody, table#compare_table > tbody > tr {
    width: 100%;
}

div#cards.tile.is-ancestor > div.tile.is-parent {
    flex-wrap: wrap;
}

div#cards.tile.is-ancestor > div.tile.is-parent > div.tile.is-child {
    min-width: 16em;
    margin: 0.5rem !important;
}

div#cards.tile.is-ancestor > div.tile.is-parent > div.tile.is-child > div.title {
    height: 15vh;
    color: currentColor;
}
