{% extends 'default.html' %}
{% set title = "HouseScrape - main" %}

{% block content %}
    <table id='compare_table' class="box tile is-ancestor table">
        <thead>
            <tr>
                <th>
                    <button id='name_btn' class='sort_btn button' data-sort='0' {# onclick="sortTable(0)" #}>
                        <span class="icon">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>
                            Location
                        </span>
                    </button>
                </th>
                <th>
                    <button id='total_properties_btn' class='sort_btn button' data-sort='1' {# onclick="sortTable(1)" #}>
                        <span class="icon">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>
                            Number of Properties
                        </span>
                    </button>
                </th>
                <th>
                    <button id='average_rent_btn' class='sort_btn button' data-sort='2' {# onclick="sortTable(2)" #}>
                        <span class="icon">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>
                            Average Rent (&#163; / pcm)
                        </span>
                    </button>
                </th>
                <th>
                    <button id='rent_under_250_btn' class='sort_btn button' data-sort='3' {# onclick="sortTable(3)" #}>
                        <span class="icon">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>
                            Number of properties under &#163;250 pcm
                        </span>
                    </button>
                </th>
                <th>
                    <button id='rent_250_to_500_btn' class='sort_btn button' data-sort='4' {# onclick="sortTable(4)" #}>
                        <span class="icon">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>
                            Number of properties between &#163;250 and &#163;500 pcm
                        </span>
                    </button>
                </th>
                <th>
                    <button id='distance_to_london' class='sort_btn button' data-sort='5' {# onclick="sortTable(5)" #}>
                        <span class="icon">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>
                            Distance to London
                        </span>
                    </button>
                </th>
                <th>
                    <button id='duration_to_london' class='sort_btn button' data-sort='6' {# onclick="sortTable(6)" #}>
                        <span class="icon">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                        <span>
                            Duration to London
                        </span>
                    </button>
                </th>
                <th>
                    <button id='score' class='sort_btn button is-selected is-primary' data-sort='7' {# onclick="sortTable(7)" #}>
                        <span class="icon">
                            <i class="fas fa-chevron-down"></i>
                        </span>
                        <span>
                            Score
                        </span>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in location_array|sort(attribute='score', reverse=True) %}
                {% if row.total_properties > 0 %}
                    <tr>
                        {% for cell in row %}
                            {% if cell is string or cell is number %}
                                {% if cell == row.name %}
                                    <td><strong>{{ cell }}</strong></td>
                                {% else %}
                                    <td>{{ cell }}</td>
                                {% endif %}
                            {% else %}
                                <td data-value="{{ cell[0] }}">{{ cell[1] }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <div id = 'compare_cards' class="box tile is-ancestor is-vertical">
        {% set number_of_columns = 5 %}
        {% for row in location_array|sort(attribute='score', reverse=True) %}
{#            {% if loop.index % 8 * 2 == 1 or loop.index % 8 == 3 or loop.index % 8 == 6 or loop.index % 8 == 0 %}#}
            {% if loop.index % 10 == 1 or loop.index % 10 == 3 or loop.index % 10 == 5 or loop.index % 10 == 7 or loop.index % 10 == 9 %}
                {% set alternating = true %}
            {% endif %}
            {% if loop.index % number_of_columns == 1 %}
                <div class="tile">
            {% endif %}
            <div class="tile is-parent has-text-centered">
                {% if alternating %}
                    <div class="tile is-child notification is-link has-text-centered">
                {% else %}
                    <div class="tile is-child notification is-dark has-text-centered">
                {% endif %}
                    <div class="level">
                        <div class="level-left">
                            {% if alternating %}
                                <div class="title level-item "><strong class="">{{ row.name }}</strong></div>
                            {% else %}
                                <div class="title level-item"><strong>{{ row.name }}</strong></div>
                            {% endif %}
                        </div>
                        <div class="level-right">
{#                            {% if loop.index % 4 == 0 or loop.index % 4 == 1 %}#}
{#                                <div class="subtitle level-item has-text-dark">Score:&nbsp;<strong class="has-text-dark">{{ row.score }}</strong></div>#}
{#                            {% else %}#}
{#                                <div class="subtitle level-item">Score:&nbsp;<strong>{{ row.score }}</strong></div>#}
{#                            {% endif %}#}
                        </div>
                    </div>

                    <div class="">
                        {% if alternating %}
                            <div class="notification is-light">Score:&nbsp;<strong>{{ row.score }}</strong></div>
                        {% else %}
                            <div class="notification is-light">Score:&nbsp;<strong>{{ row.score }}</strong></div>
                        {% endif %}

                        <div class="">Average rent is <strong>£{{ row.average_rent }}</strong></div>

                        {% if row.total_properties == 1 %}
                            <div class=""><strong>{{ row.total_properties }}</strong> property available</div>
                        {% else %}
                            <div class=""><strong>{{ row.total_properties }}</strong> properties available</div>
                        {% endif %}

                        <div class="" data-value="{{ row.distance_to_london[0] }}"><strong>{{ row.distance_to_london[1] }}</strong> to London</div>

                        <div class="" data-value="{{ row.duration_to_london[0] }}"><strong>{{ row.duration_to_london[1] }}</strong> to London</div>

                        {% if row.rent_under_250 == 1 %}
                            <div class=""><strong>{{ row.rent_under_250 }}</strong> property available under £250</div>
                        {% else %}
                            <div class=""><strong>{{ row.rent_under_250 }}</strong> properties available under £250</div>
                        {% endif %}

                        {% if row.rent_250_to_500 == 1 %}
                            <div class=""><strong>{{ row.rent_250_to_500 }}</strong> property available between £250 and £500</div>
                        {% else %}
                            <div class=""><strong>{{ row.rent_250_to_500 }}</strong> properties available between £250 and £500</div>
                        {% endif %}
                    </div>

{#                    {% for cell in row %}#}
{#                        {% if cell is string or cell is number %}#}
{#                            {% if cell == row.name %}#}
{#                                <div class="title"><strong>{{ cell }}</strong></div>#}
{#                            {% else %}#}
{#                                <span class="">{{ cell }}</span>#}
{#                            {% endif %}#}
{#                        {% else %}#}
{#                            <span class="" data-value="{{ cell[0] }}">{{ cell[1] }}</span>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
                </div>
            </div>

            {% if loop.index % number_of_columns == 0 %}
                </div>
            {% endif %}

{#            <div class="tile is-parent box is-primary">#}
{#                {% for cell in row %}#}
{#                    {% if cell is string or cell is number %}#}
{#                        {% if cell == row.name %}#}
{#                            <span class="tile is-child"><strong>{{ cell }}</strong></span>#}
{#                        {% else %}#}
{#                            <span class="tile is-child">{{ cell }}</span>#}
{#                        {% endif %}#}
{#                    {% else %}#}
{#                        <span class="tile is-child" data-value="{{ cell[0] }}">{{ cell[1] }}</span>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}
        {% endfor %}
    </div>
{% endblock %}

{% block navbar_end_add %}
    <a class="button is-danger" id="table-cards-btn">
        <span class="icon">
            <i class="far fa-list-alt"></i>
        </span>
    </a>
{% endblock %}
