{% extends 'default.html' %}
{% set title = "Choys - main" %}

{% block content %}
    <div class="modal" id="filter-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <form>
                    {% set sliders = [
                        {'id': 'total_properties', 'title': 'Number of Properties'},
                        {'id': 'average_rent', 'title': 'Average Rent (£ / pcm)'},
                        {'id': 'rent_under_250', 'title': 'Number of properties under £250 pcm'},
                        {'id': 'rent_250_to_500', 'title': 'Number of properties between £250 and £500 pcm'},
                        {'id': 'distance_to_london', 'title': 'Distance to London'},
                        {'id': 'duration_to_london', 'title': 'Duration to London'},
                        {'id': 'score', 'title': 'Score'}
                    ] %}
                    <table class="table">
                        {% for slider in sliders %}
                            {% set min = location_array|sort(attribute=slider['id'], reverse=False)|first()|attr(slider['id'])|round(0, 'floor') %}
                            {% set max = location_array|sort(attribute=slider['id'], reverse=True)|first()|attr(slider['id'])|round(0, 'ceil') %}
                            <tr>
                                <td>
                                    <label for="{{ slider['id'] }}_range">
                                        {{ slider['title'] }}
                                    </label>
                                </td>
                                <td>
                                    <input class="slider has-output" type="range" min="{{ min }}" max="{{ max }}" id="{{ slider['id'] }}_range">
                                </td>
                                <td>
                                    <input class='slider-output' type="number" min="{{ min }}" max="{{ max }}" data-for="{{ slider['id'] }}_range" id="{{ slider['id'] }}_value">
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <a class="button filter-modal-close">Close</a>
                </form>
            </div>
        </div>
        <button class="modal-close filter-modal-close is-large" aria-label="close"></button>
    </div>
    <div id='sorters' class="field is-grouped">
        {% set sorters = [
            {'id': 'name_btn', 'extra_classes': '', 'data_sort': 0, 'label': 'Location'},
            {'id': 'total_properties_btn', 'extra_classes': '', 'data_sort': 1, 'label': 'Number of Properties'},
            {'id': 'average_rent_btn', 'extra_classes': '', 'data_sort': 2, 'label': 'Average Rent (£ / pcm)'},
            {'id': 'rent_under_250_btn', 'extra_classes': '', 'data_sort': 3, 'label': 'Number of properties under £250 pcm'},
            {'id': 'rent_250_to_500_btn', 'extra_classes': '', 'data_sort': 4, 'label': 'Number of properties between £250 and £500 pcm'},
            {'id': 'distance_to_london', 'extra_classes': '', 'data_sort': 5, 'label': 'Distance to London'},
            {'id': 'duration_to_london', 'extra_classes': '', 'data_sort': 6, 'label': 'Duration to London'},
            {'id': 'score', 'extra_classes': 'is-selected is-primary', 'data_sort': 7, 'label': 'Score'}
        ] %}
        {% for sorter in sorters %}
            <button id='{{ sorter['id']|e }}' class='sort_btn button {{ sorter['extra_classes']|e }}' data-sort={{ sorter['data_sort'] }}>
                <span class="icon">
                    <i class="fas fa-chevron-right"></i>
                </span>
                <span>
                    {{ sorter['label']|e }}
                </span>
            </button>
        {% endfor %}
    </div>
    <table id='compare_table' class="box table">
        <thead>
            <tr>
                <th>
                    Location
                </th>
                <th>
                    Number of Properties
                </th>
                <th>
                    Average Rent (&#163; / pcm)
                </th>
                <th>
                    Number of properties under &#163;250 pcm
                </th>
                <th>
                    Number of properties between &#163;250 and &#163;500 pcm
                </th>
                <th>
                    Distance to London
                </th>
                <th>
                    Duration to London
                </th>
                <th>
                    Score
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in location_array|sort(attribute='score', reverse=True) %}
                {% if row.total_properties > 0 %}
                    <tr>
                        {% set row_data = [
                            {'data_value': row.name, 'content': '<strong>' + row.name + '</strong>'},
                            {'data_value': row.total_properties, 'content': row.total_properties},
                            {'data_value': row.average_rent, 'content': row.average_rent},
                            {'data_value': row.rent_under_250, 'content': row.rent_under_250},
                            {'data_value': row.rent_250_to_500, 'content': row.rent_250_to_500},
                            {'data_value': row.distance_to_london, 'content': row.distance_to_london_text},
                            {'data_value': row.duration_to_london, 'content': row.duration_to_london_text},
                            {'data_value': row.score, 'content': row.score},
                        ] %}
                        {% for cell in row_data %}
                            <td data-value="{{ cell['data_value'] }}">
                                {{ cell['content']|safe }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <div id='compare_cards' class="box is-vertical">
        <div id="cards" class="tile is-ancestor is-vertical">
            <div class="tile is-parent">
                {% for row in location_array|sort(attribute='score', reverse=True) %}
                    <div class="tile is-child notification is-{{ loop.cycle('link', 'success', 'primary', 'warning', 'danger', 'dark') }} has-text-centered">
                        <div class="title" data-value="{{ row.name }}">
                            {{ row.name }}
                        </div>

                        <div data-value="{{ row.total_properties }}">
                            <strong>{{ row.total_properties }}</strong>
                            {% if row.total_properties == 1 %}
                                property
                            {% else %}
                                properties
                            {% endif %}
                        </div>

                        <div data-value="{{ row.average_rent }}">
                            Average rent is <strong>£{{ row.average_rent }}</strong>
                        </div>

                        <div data-value="{{ row.rent_under_250 }}">
                            <strong>{{ row.rent_under_250 }}</strong>
                            {% if row.rent_under_250 == 1 %}
                                property
                            {% else %}
                                properties
                            {% endif %}
                            under £250
                        </div>

                        <div data-value="{{ row.rent_250_to_500 }}">
                            <strong>{{ row.rent_250_to_500 }}</strong>
                            {% if row.rent_250_to_500 == 1 %}
                                property
                            {% else %}
                                properties
                            {% endif %}
                            between £250 and £500
                        </div>

                        <div data-value="{{ row.distance_to_london }}">
                            <strong>{{ row.distance_to_london_text }}</strong> to London
                        </div>

                        <div data-value="{{ row.duration_to_london }}">
                            <strong>{{ row.duration_to_london_text }}</strong> to London
                        </div>

                        <div class="notification is-light" data-value="{{ row.score }}">
                            Score:&nbsp;<strong>{{ row.score|round(3) }}</strong>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block navbar_end_add %}
    <a class="button is-link" id="filter-btn">
        <span>
            Filter
        </span>
        <span class="icon">
            <i class="fas fa-filter"></i>
        </span>
    </a>
    <a class="button is-danger" id="table-cards-btn">
        <span class="icon">
            <i class="far fa-list-alt"></i>
        </span>
    </a>
{% endblock %}
